// stylesheet :: brand.cvmbs styles

    // settings
    $brand_local : 1rem;

    // styles
    #brand-local {

        @include flex-h-s-v-c( false );

        height: 5rem;
        padding: 0 0 0 0;

        @include font( $klavika, 0.875rem, 600 );

        @include typo( 1rem, 0.015em );

        @include text( $up );

        @include color( white, 0.000 );

        // mobile
        @include breakpoint ( small only ) {

            height: 4rem;

            @include font( $klavika, 0.75rem, 600 );

            @include typo( 0.75rem, 0.015em );

        }

        // svg container
        .local_icon {

            position: relative;

            width: 5rem;
            height: 5rem;

            // mobile
            @include breakpoint ( small only ) {

                width: 4rem;
                height: 4rem;

            }

            // svg
            svg {

                // mobile
                @include breakpoint ( small only ) {

                    width: 4rem;
                    height: 4rem;

                }

                // path
                path {

                    // blue
                    &.blue {

                        fill: $tmi_blue;

                    }

                    // green
                    &.green {

                        fill: $tmi_green;

                    }

                }

            }

        }

        // common
        .local_stack {

            display: block;

            // name
            &.name {

                @include font( $proxima, 0.6875rem, 500 );

                @include typo( 1rem, 0.035em );

                // mobile
                @include breakpoint ( small only ) {

                    @include hide;

                }

            }

            // title
            &.title {

                // line break
                br {

                    // mobile
                    @include breakpoint ( medium up ) {

                        @include hide;

                    }

                }

            }

        }

    }
